body {
  margin: 0;
  font-family: Tahoma;
}

.App {
  display: flex;
}

.main-nav {
  background-color: lightgray;
}

.main-nav li {
  width: 100%;

}

header {
 position: fixed;
 width: 50%;
}

table {
  margin-bottom: 4em;
  z-index: 0;
}

.App > div {
  flex: 1;
}

img {
  width: 100px;
  height: 100px;
}

th {
  padding: 13px;
}

td {
  padding: 12px;
}

